<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you would like to contact us, please do so at
  <a href="mailto:i.young@sample.org">Ian Young 
  or 
  <a href="mailto:t.demeo@sample.org">Thomas DeMeo
</p>
